<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sbonikhaya_Driving_School_Reservation_System.Properties.Settings.csDrivingSchool" connectionString="Data Source=major.ist.ukzn.ac.za\ist3;Initial Catalog=group4;User ID=group4;Password=7tjhtr" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
